<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Jee Pre-Auth OpenAM</display-name>

    <filter>
        <filter-name>Agent</filter-name>
        <display-name>Agent</display-name>
        <description>SJS Access Manager Tomcat Policy Agent Filter</description>
        <filter-class>com.sun.identity.agents.filter.AmAgentFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Agent</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>


	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login</form-login-page>
			<form-error-page>/login?error</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>ROLE_USER</role-name>
		<role-name>ROLE_ADMIN</role-name>
		<role-name>ROLE_CUSTOMER</role-name>
		<role-name>ROLE_EMPLOYEE</role-name>
		<role-name>ROLE_MANAGER</role-name>
		<role-name>ROLE_SUPERVISOR</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
		<web-resource-name>Public Areas</web-resource-name>
			<description>Matches unconstrained pages</description>
			<url-pattern>/</url-pattern>
			<url-pattern>/info</url-pattern>
			<url-pattern>/login</url-pattern>
			<url-pattern>/logout</url-pattern>
			<url-pattern>/resources/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Secured Areas</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
